<aside class="filters">
  <h2 class="filter-title">
    filters
  </h2>
  <div class="limit">
    <h3>Number of Disasters</h3>
    <%= form_tag '/disasters?limit=', method: :get do %>
      <%= number_field_tag :limit %>
      <%= submit_tag %>
    <% end %>
  </div>
  <div class="types">
    <h3>Types</h3>
    <% @disasters.each do |disaster| %>
      <form>
        <input type="radio" name="type-<%= disaster.type %>" value= disaster.type><%= disaster.type %><br>
      </form>
    <% end %>
  </div>
</aside>
