<h1>Disaster Map</h1>
<h2><%= Time.now %></h2>

<main class="disasters-main">
  <div id="map"></div>

  <%= render partial: 'disasters/map' %>

  <%= render partial: 'disasters/filters' %>

  <%= render partial: 'disasters/disasters_table' %>

</main>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_maps_api_key'] %>&callback=initMap">
</script>
