<h1>Choose an event</h1>
<h2>Last updated: <%= format_date(Time.now) %></h2>

<main class="disasters-main">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to 'Map View', '/disasters?tab=map', class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Chart View', '/disasters?tab=chart', class: 'nav-link' %>
    </li>
  </ul>

  <% if params['tab'] == 'map' || params['tab'].nil? %>
  <div id="map" data-disasters="<%= @disasters.to_json %>"></div>
    <%= javascript_include_tag 'disasters/index' %>
  <% elsif params['tab'] == 'chart' %>
    <%= render partial: 'disasters/disasters_table' %>
  <% end %>
  <%= render partial: 'disasters/filters' %>

</main>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['google_maps_api_key']}&callback=initMap", async: true %>
</script>
