<header class="disaster-header">
  <div class="disaster-header-left">
    <h1 class="type country"><%= @disaster.type %> in <%= @disaster.country %></h1>
    <h2 class="date"><%= @disaster.format_date %></h2>
  </div><br>
  <div class="disaster-header-right">
    <%= link_to 'Donate Now', charities_path(type: @disaster.type), class: "donate-now btn btn-primary" %>
  </div>
</header>

<main class="disaster-main">

  <div id="small_map" data-lat="<%= @disaster.latitude %>" data-lng="<%= @disaster.longitude %>" data-map="<%= ENV['google_maps_api_key'] %>"></div>

  <%= javascript_include_tag 'disasters/show' %>

  <section class="description">
    <%= @disaster.description.html_safe %>
  </section>

</main>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_maps_api_key'] %>&callback=initMap">
</script>
