<h1>Enter your information below</h1>
<h2>Or <%= link_to 'Continue with Twitter', twitter_login_path %></h2>

<%= form_for @user, url: register_path do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <div class="cancel-submit">
    <%= link_to "Cancel", disasters_path, class: 'btn' %>
    <%= f.submit 'Create Account', class: 'btn' %>
  </div>
<% end %>
