<%= javascript_include_tag "//d2t45z63lq9zlh.cloudfront.net/panda-v0.0.5.min.js" %>
<h1 class="donation-header">Enter your information</h1>

<div id="panda-form" data-charity='<%= @charity %>' data-email='<%= current_user.email %>' data-base_url='<%= ENV['base_url'] %>'>
  <form id="panda_cc_form">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" data-panda="first_name" name="first_name" id="first_name" class="form-control" value=<%= current_user.first_name %>>
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" data-panda="last_name" name="last_name" id="last_name" class="form-control" value=<%= current_user.last_name %>>
    </div>

    <div class="form-group">
      <label>Donation Amount</label>
      <input type="text" name="donation_amount" id="donation_amount" class="form-control" required>
    </div>

    <div class="form-group">
      <label>Credit Card Number</label>
      <input type="text" data-panda="credit_card" name="credit_card_number" id="credit_card_number" class="form-control" value="4111111111111111">
    </div>

    <div class="form-group">
      <label>Expiration</label>
      <input type="text" data-panda="expiration" name="expiration" id="expiration" class="form-control">
    </div>

    <div class="form-group">
      <label>CVV</label>
      <input type="text" data-panda="cvv" name="CVV" id="CVV" class="form-control" required>
    </div>
    <p class="error"></p>

    <div id="tokenize">
      <button type="submit" class="tokenize btn btn-primary">Make Donation</button>
    </div>
    <input id="charity" name="charity" type="hidden" />
  </form>
</div>

<script>
  Panda.init('pk_test_wFlnyfcJa4ucu68P24jKpg', 'panda_cc_form');

  Panda.on('error', (errors) => {
    $(`.error`).text(errors[0].message);
  });

  Panda.on('success', (cardToken) => {
    let dollar_amount = $('#panda_cc_form :input[name=donation_amount]').val();
    let ein           = $(`#panda-form`).data(`charity`);
    let email         = $(`#panda-form`).data(`email`);
    sendValues(collectValues(cardToken, dollar_amount, ein, email));
    window.location.replace('/tweets');
  });

  const collectValues = (token, dollar_amount, ein, email) => {
    let values = {};
    values['source'] = token;
    values['amount'] = dollar_amount;
    values['destination'] = ein;
    values['email'] = email;
    return values;
  };

  let baseUrl = $(`#panda-form`).data(`base_url`);

  const sendValues = values => {
    fetch(`${baseUrl}/api/v1/donations`, postPayload(values))
  };

  const postPayload = body => {
    return { method: `POST`,
             headers: { 'Content-Type': `application/json` },
             body: JSON.stringify(body) }
  };
</script>
