<h1>Select a Charity:</h1>

<%= form_tag new_donation_path, method: :get, class: 'charities' do %>
  <% @charities.each do |charity| %>
    <div class="charity card">
      <div class="card-body">
        <%= radio_button_tag(:charity, charity.ein) %>
        <%= image_tag charity.cause_img, class: 'cause-img' %>
        <%= link_to label_tag(:charity, charity.name, class: 'link-title'), charity.url, class: 'card-title' %><br>
        <p class="rating">Rating: <%= charity.rating %></p>
        <section class="mission"><%= charity.mission %><section>
      </div>
    </div>
  <% end %>
  <div class="buttons">
    <%= link_to "Cancel", disasters_path, class: 'btn btn-secondary' %>
    <%= submit_tag('Proceed to entering financial info', class: 'btn btn-primary') %>
  </div>
<% end %>
