<h1>Select a Charity:</h1>

<%= form_tag do %>
  <% @charities.each do |charity| %>
    <%= radio_button_tag(:charity, charity.ein) %>
    <%= label_tag(: , charity.name) %>
    <%= charity.rating %>
    <%= image_tag charity.cause_img %>
  <% end %>
<% end %>
