<nav class="navbar navbar-expand-lg navbar-light">
  <%= image_tag 'logo.png', class: "navbar-logo" %>
  <div class="nav-title">
    <%= link_to 'GiveALittle', root_path %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= link_to 'Disasters', disasters_path, class: 'nav-link' %>
      <%= link_to 'Charities', charities_path, class: 'nav-link' %>
    <% if current_user.nil? %>
      <%= render partial: 'layouts/visitor_nav' %>
    <% else %>
      <%= render partial: 'layouts/user_nav' %>
    <% end %>
  </div>
</nav>
